<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>TP filmothèque</title>
</head>
<body>
<h1>Filmothèque</h1>

<h2>Ajout d'un film :</h2>

<form method="post" th:object=${film} th:action="@{/formulaireFilms}">
	<div class="form-group">
		<label for="titreInput">Titre</label>
		<input id="titreInput" type="text" th:field="*{titre}" />
	</div>
	<div class="form-group">
		<label for="anneeSortieInput">Année de sortie</label>
		<input id="anneeSortieInput" type="number" th:field="*{anneeSortie}" />
	</div>
	<div class="form-group">
		<label for="dureeInput">Durée (en secondes)</label>
		<input id="dureeInput" type="number" th:field="*{duree}" />
	</div>
	<div class="form-group">
		<label for="genreInput">Genre</label>
		<select xxclass="form-select mb-2" th:field="*{genreFilm}" required>
		  	<option th:each="genre: ${listeGenres}" 
		  	th:value="${genre.id}" th:text="${genre.libelle}"></option>
		</select>	
	</div>
	<input class="btn btn-default" type="submit" value="Ajouter" />


	

</form>
